파이썬에서는 리스트로 배열을 구현하는 것이 가능하다.

In [3]:
# 1차원 배열을 리스트로 구현한다.
data = [1,2,3,4,5]
data

[1, 2, 3, 4, 5]

In [6]:
# 2차원 배열을 리스트로 구현한다.
data = [[1,2,3], [4,5,6], [7,8,9]]
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [7]:
# 위에서 만든 2차원 배열의 첫 번째 행에 접근
data[0]

[1, 2, 3]

In [8]:
# 첫 번째 행의 첫 번째 요소에 접근
data[0][0]

1

### 연습문제1: 위의 2차원 배열에서 9, 8, 7을 순서대로 출력해보기
---

In [9]:
print(data[2][2])
print(data[2][1])
print(data[2][0])

9
8
7

### 연습문제2: 주어진 dataset에서 M이 몇 번 나왔는지 빈도 수를 체크해보기
---

In [11]:
dataset = ['Braund, Mr. Owen Harris',
'Cumings, Mrs. John Bradley (Florence Briggs Thayer)',
'Heikkinen, Miss. Laina',
'Futrelle, Mrs. Jacques Heath (Lily May Peel)',
'Allen, Mr. William Henry',
'Moran, Mr. James',
'McCarthy, Mr. Timothy J',
'Palsson, Master. Gosta Leonard',
'Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)',
'Nasser, Mrs. Nicholas (Adele Achem)',
'Sandstrom, Miss. Marguerite Rut',
'Bonnell, Miss. Elizabeth',
'Saundercock, Mr. William Henry',
'Andersson, Mr. Anders Johan',
'Vestrom, Miss. Hulda Amanda Adolfina',
'Hewlett, Mrs. (Mary D Kingcome) ',
'Rice, Master. Eugene',
'Williams, Mr. Charles Eugene',
'Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)',
'Masselmani, Mrs. Fatima',
'Fynney, Mr. Joseph J',
'Beesley, Mr. Lawrence',
'McGowan, Miss. Anna "Annie"',
'Sloper, Mr. William Thompson',
'Palsson, Miss. Torborg Danira',
'Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)',
'Emir, Mr. Farred Chehab',
'Fortune, Mr. Charles Alexander',
'Dwyer, Miss. Ellen "Nellie"',
'Todoroff, Mr. Lalio']

In [14]:
count = 0
for findM in dataset:
    for countM in range(len(findM)):
        if findM[countM] == 'M':
            count += 1

print(count)

38

#### 연습문제2 풀이1

리스트 안에 있는 모든 데이터에서 문자 'M'의 개수를 확인해야 한다. 따라서 우선 리스트 전체를 순회해야 한다.

In [28]:
for findM in dataset:
    print(findM)

Braund, Mr. Owen Harris
Cumings, Mrs. John Bradley (Florence Briggs Thayer)
Heikkinen, Miss. Laina
Futrelle, Mrs. Jacques Heath (Lily May Peel)
Allen, Mr. William Henry
Moran, Mr. James
McCarthy, Mr. Timothy J
Palsson, Master. Gosta Leonard
Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
Nasser, Mrs. Nicholas (Adele Achem)
Sandstrom, Miss. Marguerite Rut
Bonnell, Miss. Elizabeth
Saundercock, Mr. William Henry
Andersson, Mr. Anders Johan
Vestrom, Miss. Hulda Amanda Adolfina
Hewlett, Mrs. (Mary D Kingcome)
Rice, Master. Eugene
Williams, Mr. Charles Eugene
Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)
Masselmani, Mrs. Fatima
Fynney, Mr. Joseph J
Beesley, Mr. Lawrence
McGowan, Miss. Anna "Annie"
Sloper, Mr. William Thompson
Palsson, Miss. Torborg Danira
Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)
Emir, Mr. Farred Chehab
Fortune, Mr. Charles Alexander
Dwyer, Miss. Ellen "Nellie"
Todoroff, Mr. Lalio

이렇게 리스트 전체를 for문으로 순회하면 findM 이라는 변수에는 리스트 전체 data에서 각각의 index 번호에 맞는 데이터들이 담기게 된다.

이제 각 인덱스 별 데이터에서 M이라는 문자열만 뽑아내야 한다. 그렇다면 현재 필요한 것은 다음과 같을 것이다.
* `findM`을 다시 한 번 순회
* 조건문을 사용해서 'M'만 추려내기

M이라는 문자열만 뽑아내기 위해 먼저 위의 `findM`을 순회해야 하는데 `findM`의 전체 길이를 알아낸다면 M이 위치한 index만 쉽게 찾아낼 수 있을 것이다. 그래서 사용한 것이 len()함수이고, index 0번부터 마지막 index 번호까지 순회하기 위해 range()함수를 사용한다.

> `for countM in range(len(findM)):`

이렇게 `findM`을 순회하다가 어떤 index에 해당하는 값이 'M'과 일치한다면 count를 1만큼 증가시킨다.

> `if findM[countM] == 'M': count += 1`

그리고 최종적으로 count의 값을 출력하면 'M'의 개수를 확인할 수 있다.

#### 연습문제2 풀이2
위의 방법 뿐만이 아니라 아래의 2가지 방법을 사용해서도 해결이 가능하다.

In [85]:
total = sum(s.count('M') for s in dataset)
print(total)

38

In [77]:
list1 = [data.count('M') for data in dataset]
m_sum = sum(list1)
print(m_sum)

38